<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Edit Task</title>
</head>
<body>
	<div align="center">
		<h1>Edit Task</h1>
		<br />
		<form th:action="@{/update-task}" th:object="${task}" method="post">
			<table border="0">
				<tr>
					<td>Task ID:</td>
					<td><input type="number" th:field="*{id}" readonly="readonly" />
					</td>
				</tr>
				<tr>
					<td>Task Name:</td>
					<td><input type="text" th:field="*{taskName}" /></td>
				</tr>
				<tr>
					<td>Start Date:</td>
					<td><input type="date" th:field="*{startDate}" /></td>
				</tr>
				<tr>
					<td>End Date:</td>
					<td><input type="date" th:field="*{endDate}" /></td>
				</tr>
				<tr>
					<td>Description:</td>
					<td><textarea rows="4" cols="50" th:field="*{description}"></textarea></td>
				</tr>
				<tr>
					<td>Email:</td>
					<td><input type="email" th:field="*{email}" /></td>
				</tr>
				<tr>
					<td>Severity:</td>
					<td><select th:field="*{severity}">
							<option value="High">High</option>
							<option value="Medium">Medium</option>
							<option value="Low">Low</option>
					</select></td>
				</tr>
				<tr>
					<td>Owner:</td>
					<td><input type="text" th:field="*{owner}" /></td>
				</tr>

				<tr>
					<td colspan="2"><button type="submit">Save</button></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>